* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	color: #333333;
	font-family: "ff-real-text-pro", "Lato", "Josefin Sans", sans-serif;
	margin: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
	min-height: 100%;
	text-rendering: optimizeLegibility;
}

img {
	max-width: 100%;
}

.header a {
	color: #DD643E;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 800;
	text-transform: uppercase;
}

.header {
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
	position: fixed;
	width: 100%;
	z-index: 3;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}

.header li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
	list-style: none;
}

.menu a:hover {
	color: #0C1C70;
	font-weight: 600;
	transition: 0.5s ease all;
}

.header .logo {
	display: block;
	float: left;
	padding: 20px 20px;
	text-decoration: none;
	height: 100%;
	width: 15rem;
}


/* menu */

.header .menu {
	background-image: url(../images/hero-tree.png);
	clear: both;
	max-height: 0;
	text-align: center;
	transition: max-height .2s ease-out;
}


/* menu icon */

.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
}

.header .menu-icon .navicon {
	background: #DD643E;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: #DD643E;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}


/* menu btn */

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked~.menu {
	max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
	background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
	top: 0;
}

@media (min-width: 768px) {
	.header li {
		float: left;
	}
	.header li a {
		padding: 20px 30px;
	}
	.header .menu {
		background-image: none;
		clear: none;
		float: right;
		max-height: none;
	}
	.header .menu-icon {
		display: none;
	}
}


/* Typography */

h1,
h2,
h4,
h6,
p {
	margin: 1rem 0;
	font-family: "ff-real-text-pro", "Lato", sans-serif;
}

h1 {
	font-size: 3.8rem;
	font-weight: 400;
	letter-spacing: 0.02em;
	line-height: 3.8;
	margin-bottom: 0;
	font-family: inherit;
}

h2 {
	font-size: 2.6rem;
	font-weight: 400;
	letter-spacing: 0.02em;
	line-height: 3rem;
}

h3 {
	color: #333333;
	margin: 1rem 0;
	font-family: "ff-real-text-pro", "Josefin Sans", sans-serif;
	font-size: 2.8rem;
	font-weight: 600;
	letter-spacing: .1em;
	line-height: 4rem;
}

h4 {
	font-size: 2.0rem;
	font-weight: 400;
	letter-spacing: 0.02em;
	line-height: 1.8;
}

h5 {
	color: #0C1C70;
	font-family: "ff-real-text-pro", "Josefin Sans", sans-serif;
	font-size: 2.4rem;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1.8;
	text-transform: uppercase;
}

.slogan {
	color: #555555;
	font-family: "ff-real-text-pro", "Josefin Sans", sans-serif;
	font-size: 1.6rem;
	letter-spacing: 0.02em;
	line-height: 3rem;
	padding-top: 5rem;
}

.intro {
	color: #DD643E;
	font-weight: 600;
}

p {
	font-size: 1.8rem;
	line-height: 3rem;
}


/* Same for mobile and tablet, but zero for desktop */

.hero-content,
.project-text,
.project-img,
.rescuefund-project-text,
.rescuefund-project-img,
footer {
	margin: 0 2rem;
}

@media screen and (min-width:1224px) {
	.hero-content,
	.project-text,
	.project-img,
	.rescuefund-project-text,
	.rescuefund-project-img,
	.contact-me,
	footer {
		margin: 0;
	}
}


/* hero content */

.hero {
	background-image: url(../images/hero-tree.png);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	height: 100vh;
	align-content: center;
}

.hero-content {
	text-align: left;
	margin: 0 2.5rem;
}

.scroll {
	display: none;
}

@media screen and (min-width:768px) {
	.hero {
		grid-column: 2 / 6;
		height: inherit;
		/*added 4-1 */
		position: relative;
	}
	.hero-content {
		text-align: center;
		margin: 3rem;
		padding-top: 15rem;
		/*added 4-1 */
		padding-bottom: 20rem;
		/*added 4-1 */
	}
	.scroll {
		position: absolute;
		bottom: 0;
		left: 49%;
		margin-bottom: 1.5rem;
		display: block;
	}
}


/*added 4-1 */

@media screen and (min-width:1024px) {
	.hero {
		grid-column: 2 / 6;
		position: relative;
		height: inherit;
	}
	.hero-content {
		text-align: center;
		margin: 3rem;
		padding-bottom: 20rem;
	}
	.scroll {
		position: absolute;
		bottom: 0;
		left: 49%;
		margin-bottom: 1.5rem;
		display: block;
	}
}


/*end added 4-1 */

@media screen and (min-width:1224px) {
	.hero {
		display: grid;
		grid-template-columns: [edge-start] minmax(1rem, 1fr) [content-start] repeat(12, minmax(1rem, 6rem)) [content-end] minmax(1rem, 1fr) [edge-end];
		grid-column: 1 / -1;
		grid-gap: 2rem;
	}
	.hero-content {
		grid-column: 3 / 13;
		margin-left: 0;
		margin-right: 0;
		padding-top: 15rem;
		/*added 4-1 */
	}
	.feat-projects {
		grid-column: 7 / 9;
		text-align: center;
		bottom: 0;
	}
	.scroll {
		left: 49.5%;
	}
}


/* end hero content */


/* Projects */


/* Mobile */

.project {
	background-image: linear-gradient(to bottom, rgb(245, 245, 253), rgb(211, 222, 252));
	color: #FFFFFF;
}

.rescuefund-project {
	background-image: linear-gradient(to bottom, rgb(245, 245, 253), rgb(211, 222, 252));
	color: #FFFFFF;
}

.project,
.project-2,
.contact-me {
	padding: 10rem 0rem;
	text-align: center;
}

.project-text,
.project-2-text {
	color: #333333;
	grid-column: 2 / 6;
	margin: 3rem 2rem 0 2rem;
	padding-top: 0;
}

.h3-roles {
	font-size: 1.6rem;
	letter-spacing: 0em;
	line-height: 3rem;
	text-transform: uppercase;
}

.h2-proj {
	color: #0C1C70;
}


/* tablet */

@media screen and (min-width:768px) {
	.project {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: 12rem repeat(4, 1fr) 12rem;
		grid-template-rows: auto;
	}
	.project-img {
		grid-column: 1 / -1;
		margin: 0 2rem;
	}
	.project-text {
		grid-column: 2 / 6;
		margin: 3rem 10rem;
		padding-top: 0;
	}
}


/* laptop */

@media screen and (min-width:1224px) {
	.project,
	.contact-me,
	footer {
		text-align: left;
	}
	.project {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 2rem;
		padding: 20rem 0;
		margin: 0;
		align-items: center;
	}
	.project-text {
		grid-column: 1 / 5;
		grid-row: 1 / 2;
		margin-left: 10rem;
		margin-right: 0;
	}
	.project-img {
		grid-column: 6 / 13;
		grid-row: 1 / 2;
		margin-right: 10rem;
		margin-left: 3rem;
	}
	.h3-roles {
		font-size: 1.6rem;
		text-transform: uppercase;
	}
}


/* end projects */


/* contact section */

.contact-me {
	background-image: url(../images/tree-large-3.png);
	grid-column: 1 / -1;
	padding: 6rem 0;
	text-align: center;
	background-color: #ffffff;
}

.contact-me h2 {
  color: #DD643E;
  font-weight: 800;
  text-transform: uppercase;
}

.contact-me p {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.8;
}

.email h2 {
	padding-bottom: 2rem;
}

@media screen and (min-width:1224px) {
	.contact-me {
		padding: 8rem 0;
	}
}


/* contact section */


/* Buttons */

a {
	text-decoration: none;
}

.button {
	display: inline-block;
	cursor: pointer;
	margin-top: 1rem;
	width: 20rem;
	color: #fff;
	text-align: center;
	font-weight: 700;
	font-size: 1.4rem;
	padding: 1.8rem 0;
	text-transform: uppercase;
	background-color: #DD643E;
	border-radius: 5px;
	transition: 0.5s ease-in-out;
}

.button:hover {
	background-color: #444999;
	transition: 0.5s ease-in-out;
}

.csbutton {
	display: inline-block;
	cursor: pointer;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-bottom: 3rem;
	width: 20rem;
	color: #0C1C70;
	text-align: center;
	font-weight: 600;
	font-size: 1.2rem;
	padding: 2rem 0;
	text-transform: uppercase;
	background-color: transparent;
	border: 1px solid #0C1C70;
	border-radius: 5px;
	transition: 0.5s ease-in-out;
}

.csbutton:hover {
	color: #fff;
	background-color: #444999;
	transition: 0.5s ease-in-out;
	border: none;
}

@media screen and (min-width:768px) {
	.button {
		font-size: 1.7rem;
	}
}

@media screen and (min-width:1224px) {
	.button {
		font-size: 1.7rem;
		width: 21.7rem;
	}
}


/* end buttons */


/* footer */

footer {
	background-color: #E8E8FD;
	grid-column: 1 / -1;
	margin: 0;
	padding: 5rem;
	text-align: center;
}

.social-media a {
	padding: 0 1rem;
}

footer p {
	font-size: 1.7rem
}

@media screen and (min-width:1224px) {
	footer {
		grid-column: 1 / -1;
		padding: 2rem 0;
	}
	.footer-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 12rem;
	}
}


/* end landing page styles */


/* about page */

.about-img {
	margin: 0 3rem;
	padding-top: 12rem;
}

.about-text {
	margin: 0 3rem;
	padding-bottom: 5rem;
  max-width: 75%;
}

.about-text h1 {
	line-height: 2;
}

@media screen and (min-width:768px) {
	.about-me-image {
		padding-top: 2rem;
	}
}

.about-text {
	padding-top: 2rem;
}

.about-text h2 {
	line-height: 3;
}

@media screen and (min-width:1224px) {
	.about-text {
		margin: 0 3rem;
		padding-bottom: 8rem;
	}
}


/* case study styles */


/* MOBILE */

.link {
	color: blue;
	text-decoration: underline;
}

.project-intro {
	margin-bottom: 2rem;
}

.project-info {
	margin-top: 0;
	background-color: #FFFFFF;
	font-size: 1.6rem;
}

.user-survey ul li {
	font-size: 1.6rem;
	font-weight: 800;
	padding-bottom: 16px;
	list-style-type: none;
}

.comp-analysis ul li {
	color: #444999;
	font-size: 1.8rem;
	font-weight: 800;
	list-style-type: circle;
	margin-left: 2rem;
}

.casestudy-hero {
	background-image: linear-gradient(to bottom, rgb(245, 245, 253), rgb(211, 222, 252));
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	align-content: center;
}

.casestudy-image {
	padding-top: 10rem;
	padding-bottom: 5rem;
	margin: 0 2.5rem;
}

.rescuefund-logo {
	padding-bottom: 1rem;
	padding-top: 1rem;
	width: 20em;
}

.rf-logo,
.typeface,
.colorpalette {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.persona-img {
	margin-left: 1rem;
}

.wf-images {
	background-color: #E8E8FD;
}

.wf-image {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-left: 1rem;
	padding-right: 2rem;
}

.uf-sketch {
	margin-left: 1rem;
}

.link {
	color: blue;
	text-decoration: underline;
}

.wf-images p {
	margin-left: 2rem;
}

.project-intro {
	padding-top: 2rem;
	text-align: center;
}

.project-intro p {
	text-align: left;
	margin-left: 2rem;
}

.problem-desc,
.roles,
.deliverables,
.solution-desc,
.user-survey-desc,
.survey-results,
.comp-analysis,
.features,
.persona-intro,
.user-stories,
.wf-intro,
.branding-intro,
.hifi-mockups,
.user-testing,
.testing-results,
.takeaways {
	padding: 2rem 0;
	text-align: left;
	margin: 0 2rem;
}

.problem,
.user-survey,
.survey,
.user-personas,
.wireframes,
.mockups,
.results {
	background-color: #F5F5FD;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.conclusion {
	background-color: #E8E8FD;
}

img {
	max-width: 100%;
}

.roles h4 {
	font-size: 1.6rem;
	color: #DD643E;
	text-transform: uppercase;
	font-weight: 700;
}

.user-survey h2 {
	color: #444999;
	font-size: 2rem;
	font-weight: 800;
}

.roles,
.deliverables,
.tools {
	margin-left: 2rem;
}

.takeaways {
	text-align: center;
}

@media screen and (min-width:768px) {
	.casestudy-hero {
		grid-column: 2 / 6;
		position: relative;
	}
	.casestudy-image {
		text-align: center;
		margin: 0;
		padding-top: 10rem;
		margin-left: 3rem;
		margin-right: 3rem;
	}
}

@media screen and (min-width:1224px) {
	.casestudy-hero {
		display: grid;
		grid-template-columns: [edge-start] minmax(1rem, 1fr) [content-start] repeat(12, minmax(1rem, 6rem)) [content-end] minmax(1rem, 1fr) [edge-end];
		grid-column: 1 / -1;
		grid-gap: 3rem;
	}
	.casestudy-image {
		grid-column: 2 / 13;
		margin-left: 0;
		margin-right: 0;
		padding-top: 10rem;
	}
}
