
/* MOBILE */

.user-survey ul li{
 font-size:1.6rem;
 font-weight: 800;
 padding-bottom: 16px;
 list-style-type: none;
}

.comp-analysis ul li{
 color:#444999;
 font-size:1.8rem;
 font-weight: 800;
 list-style-type:circle;
 margin-left: 2rem;
 }

 .casestudy-hero {
  background-image: linear-gradient(to bottom, rgb(245, 245, 253), rgb(211, 222, 252));
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-content: center;

}

.casestudy-image {
  padding-top: 15rem;
  padding-bottom: 5rem;
  margin: 0 2.5rem;

}

}
.rescuefund-logo {
  padding-bottom: 4rem;
  padding-top: 4rem;
  width: 20em;

}

.rf-logo, .typeface, .colorpalette {
  padding-top: 3rem;
  padding-bottom: 3rem;

  }

.persona-img{
  margin-left: 1rem;
}

.wf-images {
  background-color: #E8E8FD;
}

.wf-image {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  padding-right: 2rem;

}

.uf-sketch{
  margin-left: 1rem;
}

.link {
  color: blue;
  text-decoration: underline;
}

.wf-images p {
  margin-left: 2rem;

}

.project-intro {
  padding-top: 2rem;
  text-align: center;
}

.project-intro p {
  text-align: left;
  margin-left: 2rem;
}


.problem-desc, .roles, .deliverables, .solution-desc, .user-survey-desc, .survey-results, .comp-analysis, .features, .persona-intro,
.user-stories, .wf-intro, .branding-intro, .hifi-mockups, .user-testing, .testing-results,
.takeaways {
  padding: 2rem 0;
  text-align: left;
  margin:0 2rem;

}

.problem, .user-survey, .survey, .user-personas, .wireframes, .mockups,  .results, .conclusion  {
  background-color: #F5F5FD;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

img {
  max-width: 100%;
}

.roles h4 {
  font-size: 1.6rem;
  color: #DD643E;
  text-transform: uppercase;
  font-weight: 700;

}

.user-survey h2 {
  color: #444999;
  font-size: 2rem;
  font-weight: 800;

  }
.roles, .deliverables, .tools {
  margin-left: 2rem;
}

}
}


@media screen and (min-width:768px) {


.casestudy-hero {
  grid-column: 2 / 6;
  position: relative;

}

.casestudy-image {
  text-align: center;
  margin: 0;
  padding-top: 15rem;
  margin-left: 3rem;
  margin-right: 3rem;

  }


@media screen and (min-width:1224px) {

.casestudy-hero {
  display: grid;
  grid-template-columns: [edge-start] minmax(1rem, 1fr) [content-start] repeat(12, minmax(1rem, 6rem)) [content-end] minmax(1rem, 1fr) [edge-end];
  grid-column: 1 / -1;
  grid-gap: 3rem;
}

.casestudy-image {
  grid-column: 3 / 13;
  margin-left: 0;
  margin-right: 0;
  padding-top: 15rem;

  }
